@media (max-width: 800px){
    body{
        background-image: url(../images/bg-mobile.svg);
        background-repeat: no-repeat;
    }

    .container{
        display: flex;
        flex-direction: column;
    }
    
    .header img{
        margin: 20px;
    }

    .imagem{
        justify-content: center;
    }
    
    .imagem img{
        margin: 0;
        width: 500px;
        height: 400px;
    }

    .registro div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px 0;
    }

    .registro div .titulo{
        text-align: center;
    }

    .registro div .descricao{
        text-align: center;
    }

    .registro div .btn-registro{
        align-items: center;
    }

    .contact{
        justify-content: center;
        margin-bottom: 50px;
    }
}

@media (max-width: 425px){
    body{
        background-image: url(../images/bg-mobile.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }


    .header img{
        width: 130px;  
        margin: 20px;     
    }

    .imagem img{
        margin: 0;
        width: 350px;
        height: 250px;
    }

    .registro div .titulo{
        font-size: 25px;
        max-width: 300px;
    }

    .registro div .descricao{
        text-align: center;
        max-width: 325px;
    }

    .contact{
        margin-top: 0;
    }
}